#!/usr/bin/env bash

set -eufo pipefail

{{ template "env.tmpl" . }}

zsh_path=$(which zsh)
if [[ "${zsh_path}" != "${SHELL}" ]] && [[ "${zsh_path}x" != "x" ]]; then
    sudo chsh -s $zsh_path root
    sudo chsh -s $zsh_path $USER
fi
