#!/usr/bin/env bash

set -eufo pipefail

. $(chezmoi source-path)/utils/add_ppa

apt_repositories=()

packages=(
    build-essential
    bison
    byacc
    ca-certificates
    lsb-release
    docker-ce
    docker-ce-cli
    containerd.io
    python
    python3
    python3-dev
    libbz2-dev
    libreadline-dev
    libsqlite3-dev
    liblzma-dev
    libffi-dev
    locales
    locales-all
    xclip
    xsel
    net-tools
    clang
    clang-12
    clang-format
    pkg-config
    libclang-dev
    libclang-12-dev
    llvm
    zsh
    curl
    quilt
    jq
    wget
    git-lfs
    git
    fzf
    libssl-dev
    libssl1.1
    libncurses5
    secure-delete
    swig
    at
    yamllint
    snapd
    exuberant-ctags
    tmux
    wireguard
    resolvconf
    xvfb
    kubectl
    unzip
)

snaps=(
    gh
    yq
)

classic_snaps=(
    cmake
    go
    chezmoi
    goreleaser
    nvim
)

classic_edge_snaps=(
)

edge_snaps=(
    golangci-lint
)

snaps+=(
)

for apt_repository in ${apt_repositories[@]}; do
    add_ppa $apt_repository
done

add_docker_ppa
add_kubectl_ppa

sudo apt update -y
sudo apt upgrade -y
sudo apt install -y ${packages[@]}
sudo apt autoremove -y

sudo snap refresh
for snap in ${snaps[@]}; do
    sudo snap install $snap
done

for classic_snap in ${classic_snaps[@]}; do
    sudo snap install --classic $classic_snap
done

for classic_edge_snap in ${classic_edge_snaps[@]}; do
    sudo snap install --edge --classic $classic_edge_snap
done

for edge_snap in ${edge_snaps[@]}; do
    sudo snap install --edge $edge_snap
done
