#!/usr/bin/env bash

set -eufo pipefail

{{ template "env.tmpl" . }}
{{ template "eval_pyenv.tmpl" . }}

PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install -s 3.7.4
pyenv install -s 3.7-dev
pyenv global 3.7.4
