#!/usr/bin/env bash

set -eufo pipefail

. $(chezmoi source-path)/utils/add_ppa

apt_repositories=()

packages=(
    build-essential
    bison
    byacc
    ca-certificates
    pinentry-tty
    lsb-release
    docker-ce
    docker-ce-cli
    containerd.io
    dart
    python3-dev
    libsqlite3-0
    libsqlite3-dev
    lzma
    libffi-dev
    locales
    locales-all
    xclip
    xsel
    net-tools
    clang
    clang-12
    clang-format
    pkg-config
    libclang-dev
    libclang-12-dev
    llvm
    zsh
    fd-find
    curl
    quilt
    jq
    wget
    git-lfs
    git
    fzf
    checkinstall
    nfs-common
    libssl-dev
    libssl1.1
    libncurses5
    dirmngr
    secure-delete
    swig
    libpcsclite-dev
    at
    python3-gnupg
    yamllint
    snapd
    exuberant-ctags
    tmux
    wireguard
    resolvconf
    xvfb
    kubectl
)

snaps=(
    gh
    yq
)

classic_snaps=(
    cmake
    ripgrep
    go
    chezmoi
    goreleaser
)

classic_edge_snaps=(
    nvim
)

edge_snaps=(
    golangci-lint
)

snaps+=(
    telegram-desktop
)

for apt_repository in ${apt_repositories[@]}; do
    add_ppa $apt_repository
done

add_dart_ppa
add_docker_ppa
add_kubectl_ppa

# Terraform
# TODO: Maybe if needed in the future for Linux

sudo apt update -y
sudo apt upgrade -y
sudo apt install -y ${packages[@]}
sudo apt autoremove -y

sudo snap refresh
for snap in ${snaps[@]}; do
    sudo snap install $snap
done

for classic_snap in ${classic_snaps[@]}; do
    sudo snap install --classic $classic_snap
done

for classic_edge_snap in ${classic_edge_snaps[@]}; do
    sudo snap install --edge --classic $classic_edge_snap
done

for edge_snap in ${edge_snaps[@]}; do
    sudo snap install --edge $edge_snap
done
