{{ template "fullenv.tmpl" . }}

export PATH="$PATH:$HOME/.pub-cache/bin"

if ! ps -p $SSH_AGENT_PID &>/dev/null
then
    eval $(ssh-agent -t 86400 -s) &>/dev/null
fi

export GPG_TTY="$(tty)"
#export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
gpg-connect-agent updatestartuptty /bye &>/dev/null

export EDITOR="vi"
